body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  border-bottom: 1px solid #ddd;
}

main {
  min-height: 60vh;
}

button:hover {
  background-color: #3a2618;
}
